@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

.accordion-item-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 750px;
	.accordion-item {
		width: 300px;
		height: 420px;
		background-color: rgba(255, 255, 255, 0.3);
		backdrop-filter: blur(10px);
		overflow: hidden;
		margin: 5px 10px;
		border: 1px solid #000;
		border-radius: 5px;
		font-family: 'Poppins', sans-serif;
		.accordion-img {
			position: relative;
			height: 300px;
			.image {
				width: 300px;
				height: 100%;
				object-fit: cover;
				border-radius: 0 0 10px 10px;
			}
			.item-details {
				position: absolute;
				width: 90%;
				left: 300px;
				bottom: 0;
				font-weight: 600;
				font-size: 16px;
				margin: 0 10px;
				transition: .5s ease;
				color: #fff;
				background-color: rgba(0, 0, 0, .3);
				display: flex;
				align-items: flex-end;
				font-style: italic;
			}
		}
		
		.item-info {
			display: flex;
			height: 120px;	
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			.item-name {
				width: 90%;
				display: flex;
				justify-content: center;
				align-items: center;
				h3 {
					display: inline-block;
					text-align: center;
					margin: 5px 0px;
					padding: 5px;
					text-shadow: 1px 1px #fff;
					background-color: rgba(255, 255, 255, .2);
					border-radius: 10px;
					font-size: 1.05rem;
				}
			}
			.item-bottom {
				width: 90%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: 10px 10px;
			}
			.item-price {
				font-weight: 500;
				font-size: 1.2rem;
				font-style: italic;
			}
		}
	}
}

@media screen and (max-width: 770px) {
	.accordion-item-wrapper {
		width: 550px;
	}
}

@media screen and (max-width: 430px) {
	.accordion-item-wrapper {
		width: 400px;
	}
}

@media screen and (max-width: 380px) {
	.accordion-item-wrapper {
		width: 350px;
	}
}

@media screen and (max-width: 320px) {
	.accordion-item-wrapper {
		width: 300px;
	}
}