#main {
	width: 90%;
	margin: 20px auto;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #8a8080;
}

::-webkit-scrollbar-thumb {
	background: #AAAAAA;
	border-radius: 8px;
	border: 1px solid #8a8080;
}

@media screen and (max-width: 1025px) {
	#main {
		justify-content: center;
	}
}

@media screen and (max-width: 770px) {
	#main {
		margin: 20px auto;
		justify-content: center;
	}
}